@charset "UTF-8";

ul{
	padding:0;
	margin:0;
}

button{
	margin-top:2em;
}

@media screen and (max-width: 480px) {
    input[type="submit"], input[type="reset"], input[type="button"], button, .button {
           padding: 0 2.2em;
    }
}

.btn_wrap{
	margin:0 auto;
}

#header.alt{
	background-color:#fff;
}

#header.alt>nav>ul>li>a {
    color: #333;
}

#header.alt nav a:active, #header.alt>nav>ul>li>a:hover {
    color: #a07c1f;
}

#nav .submenu li a {
    color: #fff;
}

/* 예약신청 페이지 */
#container {
	max-width: 1200px;
	margin:20px auto;
    width: 100%;
}
.calendar .title{
	height: 37px;
	line-height: 37px;
	text-align: center;
	font-weight: 600;
	display: flex;
    justify-content: center;
    margin-bottom:10px;
    margin-top:20px;
}

.calendar table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

.calendar table thead tr:first-child{
	background: #f6f6f6;
}

.calendar table thead tr:first-child td{
	height:1em;
	padding:0;
	text-align:center;
}

.calendar table td{
	text-align: left;
	border: 1px solid #ccc;
	box-sizing:border-box;
	position:relative;
	width:10em;
	height:10em;
	color:#333;
	
}

.calendar table td:nth-child(7n+1){
	color: red;
}
.calendar table td:nth-child(7n){
	color: blue;
}
.calendar table td.gray {
	color: #ccc;
	background-color:#f7f7f7;
}
.calendar table td.today{
	font-weight:700;
	background: #6ba5ff;
	color:#fff;
}
.calendar table td span.reservation{
	width: 100%;
    height: 100%;
    display: block;
    background-color: #fbfbfb;
    text-align: center;
    font-weight: bold;
    line-height: 160px;
    color: #ce4d0f;
    text-decoration: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    letter-spacing: 2px;
    opacity: .9;
}
.calendar table td a{
	display:block;
	color:#333;
	background-color:#fff;
	border-radius:5px;
	text-decoration:none;
	padding:0 3px;
	box-sizing:border-box;
	margin-bottom:6px;
	font-size: .9em;
    height: 2em;
    font-weight:400;
}

.calendar table td a.a_seminar{
	background-color:#edf0ca;
}

.calendar table td a.a_room{
	background-color:#D4F0CB;
}

.calendar table td a.a_facility{
	background-color:#c9eef1;
}

.calendar table td a.a_no{
	background-color:#f1cbc9 !important;
	cursor:default;
}

@media screen and (max-width:1000px){
	.calendar table td{
		padding:0 .2em;
		height:3em;
	}
	.calendar table td a {
	    padding: 7px 3px;
	    font-size: .8em;
	    height: auto;
	    font-weight: 400;
	    line-height: 1em;
	}
	.calendar table td span.reservation{
		display:none;
	}
}

.calendar .title label{
	font-size:1.2em;
	margin:0;
	font-weight:500;
}

.calendar .title a{
	color:#333;
	padding:0 10px;
	font-size:1.4em;
	font-weight:500;
	text-decoration:none;
}

.calendar ul.actions{
	display:flex;
	justify-content:flex-end;
}

@media screen and (max-width:700px){
	.calendar ul.actions{
		display:flex;
		justify-content:flex-start;
		overflow-x:scroll;
		gap:10px;
	}
}

/* 모달창 */
.modalCloseButton {
  cursor: pointer;
}

.modalContainer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index:400;
}

.modalContent {
  position: absolute;
  background-color: #ffffff;
  padding: 15px;
}

.modalContent p{
	margin:0 0 1em 0;
}

.modalContainer.hidden {
  display: none;
}

.modalContent ul li a:hover{
	text-decoration:underline;
}

input[type="submit"].big, input[type="reset"].big, input[type="button"].big, button.big, .button.big{
	font-size:1em;
}


/* 로그인페이지 */
.login_page{
	display:flex;
	justify-content:center;
}

.login-wrapper{
    width: 400px;
    padding: 40px;
    box-sizing: border-box;
}

.login-wrapper > h2{
    font-size: 24px;
    color: #6A24FE;
    margin-bottom: 20px;
}
.login-wrapper p{
	font-size:1em;
	margin:0 0 .5em;
	text-align:center;
}
.login-wrapper a{
	display:block;
	text-align:center;
	text-decoration:underline;
	font-weight:300;
}
#login-form > input{
    width: 100%;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: #F8F8F8;
}
#login-form > input[type="checkbox"]{
    width: 100%;
    height: 0;
    padding:0;
    margin:0;
}

/*#login-form > input[type="checkbox"] 
#login-form > input::placeholder{
    color: #D2D2D2;
}*/
#login-form > input[type="submit"]{
    color: #fff;
    font-size: 16px;
    background-color: #6A24FE;
    margin-top: 20px;
}
#login-form > input[type="button"]{
    color: #fff;
    font-size: 16px;
    background-color: #7f7f99;
   /*  margin-top: 20px; */
}
/* #login-form  input[type="checkbox"]{
  	display:none;
}
#login-form > label{
    color: #999999;
    font-weight:500;
}
#login-form input[type="checkbox"] + label{
    cursor: pointer;
    padding-left: 26px;
    background-image: url("../images/checkbox.png");
    background-repeat: no-repeat;
    background-size: contain;
}
#login-form input[type="checkbox"]:checked + label{
    background-image: url("../images/checkbox-active.png");
    background-repeat: no-repeat;
    background-size: contain;
} */

/* 회원가입 페이지 */
.join_page p{
	text-align:left;
}
.join_page input[type="checkbox"]{
	margin-top:20px !important;
}
.join_page #check-id-btn{
	margin-top:0;
	margin-left:1em;
}