@charset "UTF-8";
.container{
	margin-top:4em;
	margin-bottom:4em;
}

ul{
	padding:0;
	margin:0;
}

button{
	margin-top:2em;
}

@media screen and (max-width: 480px) {
    input[type="submit"], input[type="reset"], input[type="button"], button, .button {
           padding: 0 2.2em;
    }
}

.btn_wrap{
	margin:0 auto;
}

#header.alt{
	background-color:#fff;
}

#header.alt>nav>ul>li>a {
    color: #333;
}

#header.alt nav a:active, #header.alt>nav>ul>li>a:hover {
    color: #a07c1f;
}

#nav .submenu li a {
    color: #fff;
}

/* 예약신청 페이지 */
#container {
	max-width: 1250px;
	margin:20px auto;
	width:80%;
    /*width: 100%;*/
}
.calendar .title{
	height: 37px;
	line-height: 37px;
	text-align: center;
	font-weight: 600;
	display: flex;
    justify-content: center;
    margin-bottom:10px;
    margin-top:20px;
}

.calendar table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

.calendar table thead tr:first-child{
	background: #f6f6f6;
}

.calendar table thead tr:first-child td{
	height:1em;
	padding:0;
	text-align:center;
}

.calendar table td{
	text-align: left;
	border: 1px solid #ccc;
	box-sizing:border-box;
	position:relative;
	width:10em;
	height:10em;
	color:#333;
	
}

.calendar table td:nth-child(7n+1){
	color: red;
}
.calendar table td:nth-child(7n){
	color: blue;
}
.calendar table td.gray {
	color: #ccc;
	background-color:#f7f7f7;
}
.calendar table td.today{
	font-weight:700;
	background: #6ba5ff;
	color:#fff;
}
.calendar table td span.reservation{
	width: 100%;
    height: 100%;
    display: block;
    background-color: #fbfbfb;
    text-align: center;
    font-weight: bold;
    line-height: 160px;
    color: #ce4d0f;
    text-decoration: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    letter-spacing: 2px;
    opacity: .9;
}
.calendar table td a{
	display:block;
	color:#333;
	background-color:#fff;
	border-radius:5px;
	text-decoration:none;
	padding:0 3px;
	box-sizing:border-box;
	margin-bottom:6px;
	font-size: .9em;
    height: 2em;
    font-weight:400;
}

.calendar table td a.a_seminar{
	background-color:#edf0ca;
}

.calendar table td a.a_room{
	background-color:#D4F0CB;
}

.calendar table td a.a_facility{
	background-color:#c9eef1;
}

.calendar table td a.a_no{
	background-color:#f1cbc9 !important;
	cursor:default;
}

@media screen and (max-width:1000px){
	.calendar table td{
		padding:0 .2em;
		height:3em;
	}
	.calendar table td a {
	    padding: 7px 3px;
	    font-size: .8em;
	    height: auto;
	    font-weight: 400;
	    line-height: 1em;
	}
	.calendar table td span.reservation{
		display:none;
	}
}

.calendar .title label{
	font-size:1.2em;
	margin:0;
	font-weight:500;
}

.calendar .title a{
	color:#333;
	padding:0 10px;
	font-size:1.4em;
	font-weight:500;
	text-decoration:none;
}

.calendar ul.actions{
	display:flex;
	justify-content:flex-end;
}

@media screen and (max-width:700px){
	.calendar ul.actions{
		display:flex;
		justify-content:flex-start;
		overflow-x:scroll;
		gap:10px;
	}
}

/* 모달창 */
.modalCloseButton {
  cursor: pointer;
}

.modalContainer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index:400;
}

.modalContent {
  position: absolute;
  background-color: #ffffff;
  padding: 15px;
}

.modalContent p{
	margin:0 0 1em 0;
}

.modalContainer.hidden {
  display: none;
}

.modalContent ul li a:hover{
	text-decoration:underline;
}

input[type="submit"].big, input[type="reset"].big, input[type="button"].big, button.big, .button.big{
	font-size:1em;
}


/* 로그인페이지 */
.login_page{
	display:flex;
	justify-content:center;
}

.login-wrapper{
    width: 400px;
    padding: 40px 0;
    box-sizing: border-box;
}

.login-wrapper > h2{
    font-size: 24px;
    color: #6A24FE;
    margin-bottom: 20px;
}
.login-wrapper p{
	font-size:1em;
	margin:0 0 .5em;
	text-align:center;
}
.login-wrapper a{
	display:block;
	text-align:center;
	text-decoration:underline;
	font-weight:300;
}
#login-form > input{
    width: 100%;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: #F8F8F8;
}
#login-form > input[type="checkbox"]{
    width: 100%;
    height: 0;
    padding:0;
    margin:0;
}

/*#login-form > input[type="checkbox"] 
#login-form > input::placeholder{
    color: #D2D2D2;
}*/
#login-form > input[type="submit"]{
    color: #fff;
    font-size: 16px;
    background-color: #6A24FE;
    margin-top: 20px;
}
#login-form > input[type="button"]{
    color: #fff;
    font-size: 16px;
    background-color: #7f7f99;
   /*  margin-top: 20px; */
}
/* #login-form  input[type="checkbox"]{
  	display:none;
}
#login-form > label{
    color: #999999;
    font-weight:500;
}
#login-form input[type="checkbox"] + label{
    cursor: pointer;
    padding-left: 26px;
    background-image: url("../images/checkbox.png");
    background-repeat: no-repeat;
    background-size: contain;
}
#login-form input[type="checkbox"]:checked + label{
    background-image: url("../images/checkbox-active.png");
    background-repeat: no-repeat;
    background-size: contain;
} */

@media screen and (max-width:600px){
	.login-wrapper{
		padding:0;
	}
}

/* 회원가입 페이지 */
.join_page p{
	text-align:left;
}
.join_page input[type="checkbox"]{
	margin-top:20px !important;
}
.join_page #check-id-btn{
	margin-top:0;
	margin-left:1em;
}

/* 예약페이지 */
.room_rqt_page #login-form input[type="radio"]{
	margin:0;
	height:0;
}
.room_rqt_page #login-form label{
	display:block;
}
.room_rqt_page .seminar_time_title{
	text-align:left;
	font-size: 0.9em;
    font-weight: 700;
}

/* 나의 예약 페이지 */
.my_page .title_wrap{
	display:flex;
	justify-content:space-between;
	align-items:center;
	background-color: #f3f3f3;
    border-radius: 10px;
    padding:10px;
    margin-bottom:50px;
}
.my_page .title_wrap h2,.my_page .title_wrap form{
	margin:0;
}
.two_btn{
	display:flex;
	gap:10px;
}
.two_btn .big{
	width:auto;
}
.my_page .res_cancel{
	text-decoration:underline;
	font-size:.9em;
	margin-top:10px;
	display:block;
}
@media screen and (max-width:768px){
	.my_page .title_wrap{
		flex-direction:column;
	}
	
	.two_btn{
		margin-top:10px;
	}
	
	.my_page input[type="submit"],.my_page input[type="reset"], .my_page input[type="button"], .my_page button, .my_page .button{
		height:2.15em;
		line-height:2.15em;
	}
}

/* 예약문의 페이지 */
.qna_page .badge-danger{
    display: inline-block;
    background-color: #ff4d4f;
    color: white;
    padding: 0px 5px;
    border-radius: 40%;
    font-size: .7em;
    line-height: 1.8em;
}
.qna_page .input-group{
	display:flex;
	gap:10px;
	width:60%;
}
.qna_page select{
	width:20%;
}
.qna_page .search_btn{
	margin-top:0;
}
.qna_page table th{
	text-align:center;
	font-size:.7em;
}
.qna_page table td.member_id,.qna_page table td.date,.qna_page table td.bno{
	text-align:center;
}
.qna_page table td.title{
	padding-left:2em;
}

@media screen and (max-width:990px){
	.qna_page .input-group{
		width:100%;
	}
	.qna_page table th{
		padding:0;
		font-size:0.75em;
		display:none;
	}
	.qna_page table td{
		font-size:.9em;
	}
}

@media screen and (max-width:400px){
	.qna_date table td.date{
		display:none;
	}
}


/* 게시글 상세보기 */
/* bn-view-common01 공통 */
.bn-view-common01.bn-answer {
    padding: 50px 0 0 0;
}

.bn-view-common01 .b-main-box .b-top-box img {
    max-width: 100%;
}

.bn-view-common01 .b-main-box .b-title-box {
    padding: 0 0 7px 0;
}

.bn-view-common01 .b-main-box .b-title-box span {
    font-size: 18px;
    line-height: 28px;
}

.bn-view-common01 .b-main-box .b-title-box .b-cate {
    padding: 0 5px 0 0;
    font-weight: 700;
    color: #333;
}

.bn-view-common01 .b-main-box .b-title-box span:nth-of-type(2) {
    font-weight: 700;
    color: #333;
    word-wrap: break-word;
}

.bn-view-common01.bn-answer .b-row-box {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.bn-view-common01.bn-answer .b-row-box .b-title-box {
    display: table-cell;
    width: 160px;
    padding: 19px 15px 16px;
    border-right: 1px solid #d3d9dd;
    border-bottom: 1px solid #d3d9dd;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    line-height: 24px;
    vertical-align: top;
    box-sizing: border-box;
}

.bn-view-common01.bn-answer .b-row-box .b-title-box br {
    display: none;
}

.bn-view-common01.bn-answer .b-row-box .b-title-box.b-required:after {
    content: "*";
    display: inline-block;
    padding: 5px 0 0 2px;
    color: #d10909;
    line-height: 1;
    vertical-align: middle;
}

.bn-view-common01.bn-answer .b-row-box .b-con-box {
    display: table-cell;
    position: relative;
    padding: 12px 15px;
    border-bottom: 1px solid #d6def2;
    vertical-align: middle;
}

.bn-view-common01 .b-etc-box:after {
    content: "";
    display: block;
    clear: both;
}

.bn-view-common01 .b-etc-box ul li span:nth-of-type(1) {
    padding: 0 5px 0 0;
}

.bn-view-common01 .b-etc-box ul li {
    position: relative;
    float: left;
    margin: 0 8px 0 0;
    padding: 0 9px 0 0;
    font-weight: 400;
    font-size: 14px;
    color: #888;
    line-height: 22px;
}

.bn-view-common01 .b-etc-box ul li:last-of-type {
    margin: 0;
    padding: 0;
}

.bn-view-common01 .b-etc-box ul li:after {
    content: "";
    display: block;
    position: absolute;
    top: 6px;
    right: 0;
    width: 1px;
    height: 10px;
    background-color: #bfbfbf;
}

.bn-view-common01 .b-etc-box ul li:last-of-type:after {
    display: none;
}

.bn-view-common01 .b-etc-box ul li.b-writer-box span:nth-of-type(1) {
    display: none;
}

.bn-view-common01 .b-etc-box ul li.b-date-box span:nth-of-type(1) {
    display: none;
}

.bn-view-common01 .b-expand-box:after {
    content: "";
    display: block;
    clear: both;
}

.bn-view-common01 .b-expand-box ul li span:nth-of-type(1) {
    padding: 0 5px 0 0;
}

.bn-view-common01 .b-expand-box ul li {
    position: relative;
    padding: 0 0 4px 0;
    font-weight: 400;
    font-size: 14px;
    color: #888;
    line-height: 22px;
}

.bn-view-common01 .b-expand-box ul li:last-of-type {
    margin: 0;
    padding: 0;
}

/* 20210408 */
.bn-view-common01 .b-etc-box.manager ul li:after {
    display: none;
}

.bn-view-common01 .b-etc-box.manager ul li select {
    position: relative;
    margin: 0 5px 0 0;
    padding: 5px 10px;
    width: 190px;
    height: 35px;
    border: 1px solid #dedede;
    background: #fff url(../img/board/btn-sel-open01.png) no-repeat right 10px center;
    font-family: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.bn-view-common01 .b-etc-box.manager .b-select:last-of-type {
    margin: 0;
}

.bn-view-common01 .b-etc-box.manager ul li input[type="text"] {
    padding: 5px 10px;
    height: 35px;
    border: 1px solid #dedede;
    font-family: inherit;
    font-weight: 300;
    font-size: 14px;
    box-sizing: border-box;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    vertical-align: middle;
}

.bn-view-common01 .b-etc-box.manager ul li button {
    display: inline-block;
    padding: 9px 16px;
    border: 1px solid rgba(0,0,0,0.3);
    font-size: 15px;
    color: #333;
    line-height: 1;
    vertical-align: middle;
}

.bn-view-common01 .b-etc-box.manager ul li button.active {
    background-color: #222;
    color: #fff
}

.bn-view-common01 .b-etc-box.manager ul li button:hover {
    background-color: #222;
    color: #fff
}

/* 신청게시판용 */
.apply_common .bn-view-common01 .b-expand-box ul li {
    position: relative;
    padding: 0 0 0 10px;
}

.apply_common .bn-view-common01 .b-expand-box ul li:after {
    content: '';
    position: absolute;
    top: 9px;
    left: 0;
    display: block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #999;
}

.bn-view-common01 .b-sns-box ul {
    padding: 10px 0 0;
    text-align: right;
}

.bn-view-common01 .b-sns-box ul li {
    display: inline-block;
    margin: 0 -4px 0 0;
    padding: 0 10px 0 0;
    vertical-align: middle;
}

.bn-view-common01 .b-sns-box ul li a {
    display: block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.bn-view-common01 .b-sns-box ul li a.btn-kakao {
    background-image: url(../img/board/ico-sns01.png);
}

.bn-view-common01 .b-sns-box ul li a.btn-blog {
    background-image: url(../img/board/ico-sns02.png);
}

.bn-view-common01 .b-sns-box ul li a.btn-instagram {
    background-image: url(../img/board/ico-sns03.png);
}

.bn-view-common01 .b-sns-box ul li a.btn-facebook {
    background-image: url(../img/board/ico-sns04.png);
}

.bn-view-common01 .b-sns-box ul li a.btn-twitter {
    background-image: url(../img/board/ico-sns05.png);
}

.bn-view-common01 .b-sns-box ul li a.btn-url {
    background-image: url(../img/board/ico-sns06.png);
}

.bn-view-common01 .b-url-box {
    display: table;
    padding: 15px 30px;
    width: 100%;
    border-bottom: 1px solid #dedede;
    table-layout: fixed;
    box-sizing: border-box;
}

.bn-view-common01 .b-url-box > p {
    display: table-cell;
    width: 80px;
    border-right: 1px solid #dedede;
}

.bn-view-common01 .b-url-box ul {
    display: table-cell;
    padding: 0 0 0 20px;
}

.bn-view-common01 .b-url-box ul li {
    padding: 0 0 5px 0;
}

.bn-view-common01 .b-url-box ul li:last-of-type {
    padding: 0;
}

.bn-view-common01 .b-url-box ul li a {
    font-weight: 400;
    font-size: 15px;
    color: #ababab;
    line-height: 23px;
    word-break: break-all;
}

.bn-view-common01 .b-url-box ul li a:hover {
    color: #092e71;
}

.bn-view-common01 .b-top-sub-box {
    display: table;
    padding: 15px 30px;
    width: 100%;
    border-bottom: 1px solid #dedede;
    table-layout: fixed;
    box-sizing: border-box;
}

.bn-view-common01 .b-top-sub-box > p {
    display: table-cell;
    width: 80px;
    border-right: 1px solid #dedede;
}

.bn-view-common01 .b-top-sub-box ul {
    display: table-cell;
    padding: 0 0 0 20px;
}

.bn-view-common01 .b-top-sub-box ul li {
    padding: 0 0 5px 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    word-break: break-all;
}

.bn-view-common01 .b-top-sub-box ul li:last-of-type {
    padding: 0;
}

.bn-view-common01 .b-file-box {
    padding: 15px 30px;
  	 border-bottom: 1px solid rgba(144, 144, 144, 0.25);
}

.bn-view-common01 .b-file-box ul li {
    padding: 0 0 5px 0;
}

.bn-view-common01 .b-file-box ul li:last-of-type {
    padding: 0;
}

.bn-view-common01 .b-file-box ul li a {
    font-weight: 400;
    font-size: 15px;
    color: #888;
    line-height: 23px;
}

.bn-view-common01 .b-content-box {
    padding: 30px;
    min-height: 200px;
    box-sizing: border-box;
}

.bn-view-common01 .b-content-box p {
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    color: #333;
    line-height: 24px;
}

.bn-view-common01 .b-content-box img {
    display: block;
    margin: 0 auto;
    padding: 20px 0;
    width: auto;
    max-width: 100%;
}

.bn-view-common01 .b-video-box iframe {
    width: 100%;
    min-height: 400px;
}

.bn-view-common01 .b-img-swiper-box {
    padding: 0 0 30px 0;
    text-align: center;
}

.bn-view-common01 .b-img-swiper-box .b-img-view-box {
    display: inline-block;
    position: relative;
    padding: 0 40px 30px;
    max-width: 100%;
    box-sizing: border-box;
}

.bn-view-common01 .b-img-swiper-box .b-img-view-box .swiper-slide a {
    display: inline-block;
}

.bn-view-common01 .b-img-swiper-box .b-img-view-box .swiper-slide a img {
    padding: 0;
}

.bn-view-common01 .b-img-swiper-box .b-img-thumb-box {
    position: relative;
    padding: 0 40px;
}

.bn-view-common01 .b-img-swiper-box .b-img-thumb-box a {
    display: block;
    height: 185px;
}

.bn-view-common01 .b-img-swiper-box .b-img-thumb-box .swiper-slide-active:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #345abe;
    box-sizing: border-box;
}

.bn-view-common01 .b-img-swiper-box .b-img-thumb-box a img {
    padding: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bn-view-common01 .b-img-swiper-box .control-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    margin: 0 auto;
    width: 100%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.bn-view-common01 .b-img-swiper-box .control-wrap > div {
    display: inline-block;
    position: absolute;
    top: 50%;
    width: 20px;
    height: 36px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.bn-view-common01 .b-img-swiper-box .control-wrap .board-gallery-prev {
    left: 0;
    background: url(../img/board/btn-prev01.png) no-repeat 50% 50%/100%;
}

.bn-view-common01 .b-img-swiper-box .control-wrap .board-gallery-next {
    right: 0;
    background: url(../img/board/btn-next01.png) no-repeat 50% 50%/100%;
}

.bn-view-common01 .b-etc-txt-box {
    padding: 15px 0 0 0;
}

.bn-view-common01 .b-etc-txt-box .b-etc-txt.type01 {
    position: relative;
    padding: 0 0 0 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

.bn-view-common01 .b-etc-txt-box .b-etc-txt.type01:after {
    content: "*";
    display: block;
    position: absolute;
    top: 3px;
    left: 0;
    font-size: 14px;
    color: #666;
    line-height: 22px;
}

.bn-view-common01 .b-link-box ul {
    border-top: 1px solid #ccc;
}

.bn-view-common01 .b-link-box ul li {
    display: table;
    width: 100%;
    border-bottom: 1px solid #ccc;
    table-layout: fixed;
}

.bn-view-common01 .b-link-box ul li > span {
    display: table-cell;
    padding: 10px 15px;
    width: 150px;
    background-color: #efefef;
    text-align: center;
}

.bn-view-common01 .b-link-box ul li > p {
    display: table-cell;
    padding: 0 15px;
    width: 100%;
}

.bn-view-common01 .b-link-box ul li > p a {
    color: #222;
    text-decoration: underline;
}

.bn-view-common01 .b-pager-box {
    padding: 50px 0 0 0;
}

.bn-view-common01 .b-pager-box div {
    display: table;
    width: 100%;
    border-bottom: 1px solid #d6def2;
    table-layout: fixed;
}

.bn-view-common01 .b-pager-box div p:nth-of-type(1) {
    display: table-cell;
    padding: 13px 45px 13px 30px;
    width: 130px;
    vertical-align: middle;
    text-align: center;
    box-sizing: border-box;
}

.bn-view-common01 .b-pager-box div p:nth-of-type(1) a {
    font-weight: 700;
    font-size: 15px;
    color: #000;
}

.bn-view-common01 .b-pager-box div p:nth-of-type(2) {
    display: table-cell;
    padding: 13px 30px 13px 10px;
    width: 100%;
    box-sizing: border-box;
    vertical-align: middle;
}

.bn-view-common01 .b-pager-box div p:nth-of-type(2) a {
    font-weight: 400;
    font-size: 15px;
    color: #888;
    line-height: 23px;
    word-wrap: break-word;
}

/* bn-view-common01 type01 */
.bn-view-common01.type01 .b-main-box {
    border-top: solid 2px rgba(144, 144, 144, 0.25);
}

.bn-view-common01.type01 .b-main-box .b-top-box .b-title-box {
    padding: 13px 25px;
    background: rgba(144, 144, 144, 0.075);
    border-bottom: 1px solid rgba(144, 144, 144, 0.25);
    margin:0;
}

.bn-view-common01.type01 .b-main-box .b-top-box .b-etc-box {
    padding: 13px 25px;
    border-bottom: 1px solid rgba(144, 144, 144, 0.25);
}

.bn-view-common01.type01 .b-main-box .b-expand-box {
    padding: 13px 25px;
    border-bottom: 1px solid rgba(144, 144, 144, 0.25);
}

.bn-view-common01.type01 .b-main-box .b-title-box .b-cate {
    line-height: 20px;
}

.bn-view-common01.type01 .b-main-box .b-title-box span:nth-of-type(2) {
    line-height: 20px;
}

.bn-view-common01.type01 .b-file-box ul li a {
     display: inline-block;
    padding: 0 0 0 30px;
    background: url(../images/download.png) no-repeat left;
    width: 20px;
    height: 20px;
    background-size: 65%;
}

.bn-view-common01.type01 .b-file-box ul li a:hover {
    color: #222;
}

/* 문서뷰어 버튼*/
.bn-view-common01.type01 .b-file-box ul li a.btn-flex {
    background: url(../img/board/bg-frexlink.gif) no-repeat 0;
    padding: 0 0 0 24px;
    margin: 0 0 0 15px;
    width: 21px;
    height: 22px;
    top: 2px;
}

.bn-view-common01.type01 .b-pager-box div:nth-of-type(1) {
    border-top: 1px solid #345abe;
}

.bn-view-common01.type01 .b-pager-box div:nth-of-type(2) {
    border-bottom: 1px solid #345abe;
}

.bn-view-common01.type01 .b-pager-box div:nth-of-type(1) p:nth-of-type(1) {
    background: url(../img/board/ico-pager-prev01.png) no-repeat right 30px top 50%;
}

.bn-view-common01.type01 .b-pager-box div:nth-of-type(2) p:nth-of-type(1) {
    background: url(../img/board/ico-pager-next01.png) no-repeat right 30px top 50%;
}

.bn-view-common01.type01 .b-write-reply-box .reply-content-count span {
    color: #222;
}

.bn-view-common01.type01 .b-write-reply-box .write-reply-content .write-reply-etc-box > button {
    background-color: #222;
}

/* bn-view-common02 type01 */
.bn-view-common02.type01 .b-view-file-box ul li a {
    padding: 0 0 0 18px;
    background: url(../img/board/ico-file02-off.png) no-repeat 0 2px;
}

.bn-view-common02.type01 .b-view-file-box ul li a:hover {
    color: #222;
}

/* view 페이지 게시글 내 답변 */
.bn-view-common01 .b-answer-common01-box {
    border-top: 2px solid #092e71;
    border-bottom: 1px solid #092e71;
}

.bn-view-common01 .b-answer-common01-box > div {
    padding: 27px 30px;
    border-bottom: 1px solid #dedede;
}

.bn-view-common01 .b-answer-common01-box .b-answer-title {
    padding: 0 0 7px;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
}

.bn-view-common01 .b-answer-common01-box .b-answer-title:before {
    content: '';
    display: inline-block;
    margin: 5px 10px 0 0;
    width: 10px;
    height: 10px;
    border-left: 1px solid #333;
    border-bottom: 1px solid #333;
    vertical-align: top;
}

/* view 페이지 댓글영역 */
.bn-view-common01 .b-reply-wrap {
    padding: 50px 0 0 0;
}

.bn-view-common01 .b-reply-wrap .write-reply-content {
    border: 1px solid #999;
    box-sizing: border-box;
}

.bn-view-common01 .b-reply-wrap .write-reply-content .write-reply-con-box {
}

.bn-view-common01 .b-reply-wrap .write-reply-content .write-reply-etc-box {
    background-color: #fff;
    text-align: right;
}

.bn-view-common01 .b-reply-wrap .write-reply-content .write-reply-etc-box > p {
    display: inline-block;
    padding: 0 16px 0 0;
}

.bn-view-common01 .b-reply-wrap .write-reply-content .write-reply-etc-box > button {
    padding: 9px 23px;
    border: none;
}

.bn-view-common01 .b-reply-wrap .write-reply-content textarea {
    padding: 5px 15px;
    width: 100%;
    border: none;
    font-family: inherit;
    font-size: 14px;
    line-height: 19px;
    border-radius: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-sizing: border-box;
}

.bn-view-common01 .b-reply-wrap .b-reply-id {
    padding: 0 0 5px 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.bn-view-common01 .b-reply-wrap .reply {
    font-size: 14px;
    color: #666;
    line-height: 22px;
}

.bn-view-common01 .b-view-reply-box .b-view-reply-content .b-btn01.type02 {
    padding: 10px 0 0 0;
}

.bn-view-common01 .b-write-reply-box {
    box-sizing: border-box;
}

.bn-view-common01 .b-write-reply-box .reply-content-count {
    padding: 0 0 20px 0;
    font-weight: 700;
    font-size: 18px;
    vertical-align: top;
}

.bn-view-common01 .b-write-reply-box .write-reply-con-box {
}

.bn-view-common01 .b-write-reply-box .write-reply-content .write-reply-con-box {
    padding: 30px;
    border-bottom: 1px solid #dedede;
    background-color: #fff;
}

.bn-view-common01 .b-write-reply-box .write-reply-content .write-reply-con-box > div {
    border: 1px solid #dedede;
}

.bn-view-common01 .b-write-reply-box .write-reply-content .write-reply-con-box > div > p {
    padding: 15px 15px 0 15px;
}

.bn-view-common01 .b-write-reply-box .write-reply-content .write-reply-con-box textarea {
    height: 48px;
}

.bn-view-common01 .b-write-reply-box .write-reply-content .write-reply-etc-box > button {
    color: #fff;
}

.bn-view-common01 .b-write-reply-box .write-reply-info {
    padding: 10px 0 0 0;
    font-size: 14px;
    color: #666;
    line-height: 24px;
}

.bn-view-common01 .b-write-reply-box .write-reply-info > a {
    position: relative;
    margin: 0 0 0 5px;
    font-style: italic;
    color: #043ca1;
}

.bn-view-common01 .b-write-reply-box .write-reply-info > a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #043ca1;
}

.bn-view-common01 .b-view-reply-box .b-view-reply-etc-box {
    padding: 0 0 5px 0;
    border-bottom: 1px solid #dedede;
}

.bn-view-common01 .b-view-reply-box .b-view-reply-etc-box ul li {
    display: inline-block;
    position: relative;
    margin: 0 15px 0 0;
    padding: 0 15px 0 0;
}

.bn-view-common01 .b-view-reply-box .b-view-reply-etc-box ul li:last-of-type {
    margin: 0;
}

.bn-view-common01 .b-view-reply-box .b-view-reply-etc-box ul li:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.bn-view-common01 .b-view-reply-box .b-view-reply-etc-box ul li:not(.active):after {
    width: 8px;
    height: 2px;
    background-color: #ababab;
}

.bn-view-common01 .b-view-reply-box .b-view-reply-etc-box ul li.active:after {
    width: 10px;
    height: 6px;
    background: url(../img/board/btn-sel-open02.png) no-repeat 0 0/100%;
}

.bn-view-common01 .b-view-reply-box .b-view-reply-etc-box ul li a {
    display: block;
    font-weight: 700;
    font-size: 16px;
    color: #ababab;
    line-height: 24px;
}

.bn-view-common01 .b-view-reply-box .b-view-reply-etc-box ul li.active a {
    color: #333;
}

.bn-view-common01 .b-view-reply-box .b-view-reply-content > div {
    padding: 25px 0;
    border-bottom: 1px solid #dedede;
}

.bn-view-common01 .b-view-reply-box .b-view-reply-content .write-reply-box {
    margin: 20px 0 0;
}

.bn-view-common01 .b-view-reply-box .b-view-reply-dep02-box {
    background-color: #f5f5f5;
}

.bn-view-common01 .b-view-reply-box .b-view-reply-dep02-box > div {
    padding: 0 20px 0 43px;
    background: url(../img/board/bg-reply-dep02.png) no-repeat 25px 0;
}

.bn-view-common01 .b-view-reply-box .write-reply-content {
    border: 1px solid #dedede;
}

.bn-view-common01 .b-view-reply-box .write-reply-content .write-reply-con-box textarea {
    height: 80px;
}

.bn-view-common01 .b-view-reply-box .write-reply-content .write-reply-etc-box > button {
    background-color: #f0f1f2;
    color: #666;
}

.bn-view-common01 .b-view-reply-box .b-btn-replay-box {
    padding: 10px 0 0 0;
}

.bn-view-common01 .b-view-reply-box .b-btn-replay-box ul li {
    display: inline-block;
    margin: 0 5px 0 0;
    vertical-align: top;
}

.bn-view-common01 .b-view-reply-box .b-btn-replay-box ul li .b-btn-reply {
    display: inline-block;
    padding: 3px 11px;
    min-width: 50px;
    min-height: 27px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 14px;
    color: #222;
    font-weight: 400;
    text-align: center;
    box-sizing: border-box;
}

.bn-view-common01 .b-view-reply-box .b-btn-replay-box ul li .b-btn-reply:hover {
    background-color: #092e71;
    color: #fff;
}

@media screen and (max-width:768px){
	/* bn-view-common01 공통 */
    .bn-view-common01 .b-main-box {
        border-width: 2px;
    }

    .bn-view-common01 .b-main-box .b-title-box {
        padding: 0 0 2px;
    }

    .bn-view-common01 .b-main-box .b-title-box span {
        font-size: 16px;
        line-height: 24px;
    }

    .bn-view-common01 .b-content-box {
        padding: 15px 10px;
        min-height: 100px;
    }

    .bn-view-common01 .b-content-box p {
        font-size: 14px;
        line-height: 22px;
    }

    .bn-view-common01 .b-content-box img {
        padding: 10px 0;
    }

    .bn-view-common01 .b-img-swiper-box {
        padding: 0 0 20px 0;
    }

    .bn-view-common01 .b-img-swiper-box .b-img-view-box {
        padding: 0 25px 15px;
    }

    .bn-view-common01 .b-img-swiper-box .b-img-thumb-box {
        padding: 0 25px;
    }

    .bn-view-common01 .b-img-swiper-box .control-wrap > div {
        width: 12px;
        height: 22px;
    }

    .bn-view-common01 .b-video-box iframe {
        min-height: 300px;
    }

    .bn-view-common01 .b-url-box {
        padding: 10px;
    }

    .bn-view-common01 .b-url-box > p {
        width: 50px;
        font-size: 14px;
        line-height: 22px;
    }

    .bn-view-common01 .b-url-box ul {
        padding: 0 0 0 10px;
    }

    .bn-view-common01 .b-url-box ul li {
        padding: 0 0 2px 0;
    }

    .bn-view-common01 .b-url-box ul li a {
        font-size: 14px;
        line-height: 22px;
    }

    .bn-view-common01 .b-top-sub-box {
        padding: 10px;
    }

    .bn-view-common01 .b-top-sub-box > p {
        width: 80px;
        font-size: 14px;
        line-height: 22px;
    }

    .bn-view-common01 .b-top-sub-box ul {
        padding: 0 0 0 10px;
    }

    .bn-view-common01 .b-top-sub-box ul li {
        padding: 0 0 2px 0;
        font-size: 14px;
        line-height: 22px;
    }

    .bn-view-common01 .b-file-box {
        padding: 10px;
    }

    .bn-view-common01 .b-file-box ul li {
        padding: 0 0 2px;
    }

    .bn-view-common01 .b-file-box ul li a {
        font-size: 14px;
        line-height: 22px;
    }

    .bn-view-common01 .b-link-box ul li > span {
        padding: 7px 10px;
        width: 100px;
        font-size: 14px;
        line-height: 19px;
    }

    .bn-view-common01 .b-link-box ul li > p {
        padding: 0 10px;
        font-size: 14px;
        line-height: 19px;
    }

    .bn-view-common01 .b-pager-box {
        padding: 20px 0 0;
    }

    .bn-view-common01 .b-pager-box div p:nth-of-type(1) {
        padding: 10px 25px 10px 10px;
        width: 80px;
        background-position: right 10px top 50% !important;
    }

    .bn-view-common01 .b-pager-box div p:nth-of-type(1) a {
        font-size: 14px;
        line-height: 22px;
    }

    .bn-view-common01 .b-pager-box div p:nth-of-type(2) {
        padding: 10px;
    }

    .bn-view-common01 .b-pager-box div p:nth-of-type(2) a {
        font-size: 14px;
        line-height: 22px;
    }

    .bn-view-common01.bn-answer {
        padding: 20px 0 0 0;
    }

    .bn-view-common01.bn-answer .b-row-box .b-title-box {
        display: block;
        padding: 7px 10px 6px;
        width: 100%;
        font-size: 14px;
        line-height: 22px;
        text-align: left;
        border-right: none;
    }

    .bn-view-common01.bn-answer .b-row-box .b-con-box {
        display: block;
        padding: 10px;
    }

    /* 20210408 */
    .bn-view-common01 .b-etc-box.manager ul li {
        float: none;
        margin: 0 0 10px;
        padding: 0;
    }

    .bn-view-common01 .b-etc-box.manager ul li select {
        width: calc(100% - 122px);
    }

    .bn-view-common01 .b-etc-box.manager ul li input[type="text"] {
        width: calc(100% - 71px);
    }

    /* bn-view-common01 type01 */
    .bn-view-common01.type01 .b-main-box .b-top-box .b-title-box {
        padding: 10px 15px;
    }

    .bn-view-common01.type01 .b-main-box .b-top-box .b-etc-box {
        padding: 10px 15px;
    }

    .bn-view-common01.type01 .b-main-box .b-expand-box {
        padding: 10px 15px;
    }

    .bn-view-common01.type01 .b-main-box .b-title-box .b-cate {
        font-size: 16px;
        line-height: 21px;
    }

    .bn-view-common01.type01 .b-main-box .b-title-box span:nth-of-type(2) {
        font-size: 16px;
        line-height: 21px;
    }

    /* 게시글 내 답변 */
    .bn-view-common01 .b-answer-common01-box > div {
        padding: 15px 10px;
    }

    .bn-view-common01 .b-answer-common01-box .b-answer-title {
        padding: 0 0 2px;
        font-size: 16px;
        line-height: 24px;
    }

    .bn-view-common01 .b-answer-common01-box .b-answer-title:before {
        margin: 5px 5px 0 0;
        width: 8px;
        height: 8px;
    }

    /* view 페이지 댓글영역 */
    .bn-view-common01 .b-reply-wrap {
        padding: 20px 0 0 0;
    }

    .bn-view-common01 .b-reply-wrap .write-reply-content .write-reply-etc-box > p {
        font-size: 14px;
        line-height: 22px;
    }

    .bn-view-common01 .b-reply-wrap .write-reply-content .write-reply-etc-box > button {
        padding: 5px 13px;
    }

    .bn-view-common01 .b-reply-wrap .write-reply-content textarea {
        padding: 5px 15px;
    }

    .bn-view-common01 .b-reply-wrap .b-reply-id {
        font-size: 14px;
        line-height: 22px;
    }

    .bn-view-common01 .b-reply-wrap .reply {
        padding: 0 0 5px 0;
    }

    .bn-view-common01 .b-write-reply-box {
    }

    .bn-view-common01 .b-write-reply-box .reply-content-count {
        padding: 0 0 10px 0;
        font-size: 16px;
    }

    .bn-view-common01 .b-write-reply-box .write-reply-con-box {
        padding: 15px;
    }

    .bn-view-common01 .b-write-reply-box .write-reply-content .write-reply-con-box {
        padding: 10px;
    }

    .bn-view-common01 .b-write-reply-box .write-reply-content .write-reply-con-box > div > p {
        padding: 10px 10px 0 10px;
    }

    .bn-view-common01 .b-write-reply-box .write-reply-content .write-reply-con-box textarea {
        height: 40px;
    }

    .bn-view-common01 .b-write-reply-box .write-reply-info {
        padding: 5px 0 0 0;
        font-size: 13px;
        line-height: 20px;
    }

    .bn-view-common01 .b-view-reply-box .b-view-reply-etc-box {
        padding: 0 0 5px 0;
    }

    .bn-view-common01 .b-view-reply-box .b-view-reply-etc-box ul li {
        margin: 0 10px 0 0;
        padding: 0 10px 0 0;
    }

    .bn-view-common01 .b-view-reply-box .b-view-reply-etc-box ul li:not(.active):after {
        width: 6px;
        height: 2px;
    }

    .bn-view-common01 .b-view-reply-box .b-view-reply-etc-box ul li.active:after {
        width: 8px;
        height: 5px;
    }

    .bn-view-common01 .b-view-reply-box .b-view-reply-etc-box ul li a {
        font-size: 14px;
        line-height: 22px;
    }

    .bn-view-common01 .b-view-reply-box .b-view-reply-content > div {
        padding: 10px 0;
    }

    .bn-view-common01 .b-view-reply-box .b-view-reply-content .write-reply-box {
        margin: 10px 0 0;
    }

    .bn-view-common01 .b-view-reply-box .b-view-reply-dep02-box > div {
        padding: 0 10px 0 30px;
        background-position: 15px 5px;
        background-size: 8px;
    }

    .bn-view-common01 .b-view-reply-box .b-view-reply-dep02-box .write-reply-content .write-reply-con-box textarea {
        height: 60px;
    }

    .bn-view-common01 .b-view-reply-box .b-btn-replay-box {
        padding: 5px 0 0 0;
    }

    .bn-view-common01 .b-view-reply-box .b-btn-replay-box ul li .b-btn-reply {
        padding: 3px 8px;
        min-width: auto;
        min-height: auto;
        font-size: 13px;
    }
}
